.App {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  
}

.LeftArrow {
  height: 4rem;
  position: fixed;
  left: 2%;
  top: calc(50% - 4rem);
}

.RightArrow {
  height: 4rem;
  position: fixed;
  right: 2%;
  top: calc(50% - 4rem);
}

.productContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 70%;
}

.productContainer > div {
  flex:  1 0 32.6%;
  width: 32%;
}


